{% extends 'base.html.twig' %}

{% block title %}Favori{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">{{  app.user.favoris|length < 2 ? 'Favori' : 'Favoris' }}</h1>
    {{ include('./partials/listeEtablissements.html.twig') }}
    <div class="navigation m-3 d-flex justify-content-center">
        {{ knp_pagination_render(etablissements) }}
    </div>

{% endblock %}

